.holder {
  margin: 0;
  overflow: visible;
}
.actions {
  position: relative;
  bottom: auto;
}
.actions .icon {
  width: 16px;
  margin-right: 5px;
  text-align: center;
}
.actions .icon[class*="icon-"] {
  cursor: pointer;
  color: #757575;
  transition: color .25s ease-in-out;
}
.actions .icon[class*="js_actionLink"]:hover {
  color: #333;
}
.actions .icon[class$="disabled"] {
  color: #d6d6d6;
  cursor: default;
}
.holder .icon[class*="icon-"] {
  font-size: 16px;
}

.holder .sm-green {
  color: #9ebd2e;
}
.holder .sm-orange {
  color: #EA981C;
}
.holder .sm-red {
  color: #c13a1b;
}

.sm-menu .x-menu-list li a.x-menu-item {
  padding-left: 10px;
}
.sm-menu .x-menu-list li a.x-menu-item i {
  width: 16px;
}