[id^="semanager-grid-"] .holder {
  margin: 0;
  overflow: visible;
}
[id^="semanager-grid-"] .actions {
  position: relative;
  bottom: auto;
}
[id^="semanager-grid-"] .actions .icon {
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
[id^="semanager-grid-"] .actions .icon[class*="icon-"] {
  cursor: pointer;
  color: #757575;
  transition: color .25s ease-in-out;
}
[id^="semanager-grid-"] .actions .icon[class*="js_actionLink"]:hover {
  color: #333;
}
[id^="semanager-grid-"] .actions .icon[class$="disabled"] {
  color: #d6d6d6;
  cursor: default;
}
[id^="semanager-grid-"] .holder .icon[class*="icon-"] {
  font-size: 16px;
  vertical-align: middle;
}

[id^="semanager-grid-"] .holder .sm-green {
  color: #9ebd2e;
}
[id^="semanager-grid-"] .holder .sm-orange {
  color: #EA981C;
}
[id^="semanager-grid-"] .holder .sm-red {
  color: #c13a1b;
}

[id^="semanager-grid-"] .sm-menu .x-menu-list li a.x-menu-item {
  padding-left: 10px;
}
[id^="semanager-grid-"] .sm-menu .x-menu-list li a.x-menu-item i {
  width: 20px;
  vertical-align: text-top;
  font-size: 16px;
}

[id^="semanager-grid-"] .x-btn-text i {
  margin-right: 10px;
  font-size: 16px;
}
