.holder {
  bottom: 8px;
  margin: 0;
  overflow: visible;
  position: absolute;
}
.actions .icon {
  width: 24px;
  color: #757575;
}

.holder .icon[class*="icon-"] {
  font-size: 16px;
}

.actions .icon[class*="icon-"] {
  cursor: pointer;
  transition: color .25s ease-in-out;
}
.actions .icon[class*="icon-"]:not("disabled"):hover {
  color: #333;
}
.actions .icon[class$="disabled"] {
  color: #d6d6d6;
  cursor: default;
}

.holder .icon-check-circle {
  color: #9ebd2e;
}
.holder .icon-question-circle {
  color: #EA981C;
}
.holder .icon-exclamation-circle {
  color: #c13a1b;
}
